In [1]:
import pandas as pd
dados = pd.read_csv("dados/aluguel_residencial.csv", sep=";")

In [2]:
bairros = ['Barra da Tijuca', 'Copacabana', 'Ipanema', 'Leblon', 'Botafogo', 'Flamengo', 'Tijuca']

In [3]:
somente_bairros = dados[dados["Bairro"].isin(bairros)]
somente_bairros

,Unnamed: 0.1,Unnamed: 0,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo agregado
0,0,0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,42.50,Apartamento
5,5,6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,29.33,Casa
9,9,11,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,50.00,Apartamento
10,10,12,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,0.0,66.67,Apartamento
11,11,13,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0,53.50,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22352,22352,23106,Apartamento,Leblon,3,0,1,80,3000.0,1010.0,249.0,37.50,Apartamento
22353,22353,23107,Apartamento,Ipanema,3,1,2,150,15000.0,1400.0,600.0,100.00,Apartamento
22354,22354,23108,Apartamento,Tijuca,1,0,0,28,1000.0,360.0,25.0,35.71,Apartamento
22356,22356,23110,Casa de Condomínio,Barra da Tijuca,5,3,4,450,15000.0,1711.0,2332.0,33.33,Casa
22361,22361,23115,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,42.86,Apartamento

In [4]:
agrupados = dados.groupby("Bairro")
agrupados.groups

{'Abolição': [1586, 3265, 6824, 7128, 7828, 10390, 13498, 14534, 16450, 17054, 17565, 19259, 19267, 20600, 21911], 'Alto da Boa Vista': [2247, 12345, 12873, 13574, 13775, 14875], 'Anchieta': [3088, 9105, 16045, 18250], 'Andaraí': [391, 460, 522, 624, 804, 860, 868, 1014, 1215, 1447, 1452, 1721, 1954, 2058, 2745, 3216, 3299, 3578, 3668, 3832, 3952, 4330, 4684, 4893, 5001, 5008, 5086, 5687, 5903, 6147, 6393, 6614, 6696, 7087, 7349, 7594, 8090, 8091, 8271, 8646, 9419, 9520, 9564, 9610, 9956, 10180, 10356, 10508, 10529, 11130, 11211, 11218, 11354, 11811, 12120, 12605, 13084, 13577, 13722, 13726, 14108, 14237, 14271, 14278, 14562, 14951, 15028, 16306, 16402, 16913, 16918, 17013, 17069, 17942, 18207, 18233, 18356, 18660, 18888, 19213, 19353, 19383, 19508, 20148, 20235, 20255, 20593, 20717, 21015, 21375, 21544, 21591, 21632, 21848, 21983, 22076, 22115], 'Anil': [247, 583, 615, 1252, 1666, 1699, 1828, 1975, 2172, 2430, 3676, 3768, 3956, 4256, 4478, 4765, 4889, 4910, 5391, 5477, 5804, 6289, 6309, 6492, 6530, 6649, 6767, 7043, 7099, 7224, 7238, 7616, 7711, 8308, 8361, 9015, 9733, 9870, 10181, 10414, 10576, 10839, 10895, 12256, 12263, 12794, 13522, 13733, 13735, 13752, 14408, 14731, 14885, 15239, 15892, 16994, 17075, 17177, 17959, 18243, 18637, 18773, 18978, 19926, 20032, 20190, 20263, 21650, 21772, 22197, 22252], 'Arpoador': [197, 2840, 3086, 3267, 3437, 4636, 5483, 9766, 14207, 14460, 15182, 16947, 18930, 19122, 19134], 'Bancários': [14195, 15143, 16297, 20876], 'Bangu': [1318, 1720, 1740, 2178, 3959, 4057, 4182, 7550, 10752, 10790, 10804, 11485, 11717, 11810, 12164, 13817, 14961, 18318, 18630, 20978], 'Barra da Tijuca': [5, 15, 17, 23, 32, 34, 37, 44, 45, 62, 63, 66, 70, 76, 81, 95, 109, 112, 114, 119, 132, 134, 138, 154, 157, 159, 169, 170, 177, 190, 193, 212, 219, 226, 229, 238, 239, 242, 245, 250, 265, 271, 281, 283, 298, 299, 300, 302, 309, 315, 318, 332, 342, 343, 352, 367, 373, 375, 381, 387, 394, 396, 407, 419, 439, 440, 442, 443, 446, 456, 459, 470, 471, 473, 481, 484, 492, 502, 508, 511, 519, 535, 546, 547, 548, 549, 552, 556, 561, 563, 564, 565, 581, 595, 598, 599, 601, 605, 607, 612, ...], 'Barra de Guaratiba': [3769, 10350, 19970, 21385], 'Benfica': [102, 5872, 11558, 18712, 19668], 'Bento Ribeiro': [2299, 3021, 3054, 5302, 6166, 7626, 10127, 10435, 11220, 13426, 13794, 13962, 14100, 14525, 16182, 16226, 18848, 19493, 20655, 21411, 21895, 22167, 22329], 'Bonsucesso': [69, 270, 374, 725, 936, 1314, 1491, 1545, 2108, 2266, 2728, 2739, 3130, 3317, 3342, 4233, 4363, 4460, 5050, 5268, 5591, 5774, 6901, 7039, 7775, 7930, 8181, 8828, 10030, 10138, 10288, 10690, 11741, 12165, 12651, 12669, 12684, 13232, 13250, 15297, 15308, 15325, 15755, 16376, 16549, 16873, 17025, 17308, 17380, 17445, 17851, 18225, 18533, 19355, 19437, 19461, 20132, 21096, 21436], 'Botafogo': [12, 25, 50, 89, 90, 113, 121, 129, 136, 201, 205, 230, 341, 369, 422, 423, 458, 506, 532, 534, 554, 604, 660, 696, 730, 768, 777, 798, 836, 841, 875, 933, 942, 946, 1024, 1063, 1101, 1113, 1133, 1139, 1150, 1163, 1188, 1225, 1229, 1230, 1248, 1275, 1308, 1321, 1330, 1343, 1374, 1411, 1445, 1450, 1487, 1550, 1562, 1612, 1664, 1668, 1690, 1706, 1727, 1736, 1778, 1779, 1827, 1855, 1864, 1867, 1894, 1964, 1974, 2000, 2015, 2024, 2032, 2073, 2110, 2113, 2126, 2128, 2129, 2133, 2142, 2193, 2194, 2210, 2225, 2243, 2291, 2296, 2347, 2404, 2433, 2448, 2465, 2483, ...], 'Braz de Pina': [889, 4097, 4394, 6131, 6984, 7017, 7428, 9349, 9522, 12357, 12554, 13322, 14510, 15482, 16112, 16284, 18093, 18678, 20077, 20135], 'Cachambi': [4, 58, 253, 258, 533, 640, 1417, 1719, 1904, 1992, 2132, 2224, 2613, 2691, 2958, 3080, 3117, 3154, 3850, 4162, 4264, 4298, 4307, 4507, 4555, 4749, 4752, 5403, 5411, 5425, 5443, 5596, 5664, 5715, 5898, 6014, 6074, 6144, 6153, 6332, 6335, 6400, 6542, 6550, 6651, 6769, 6942, 7004, 7023, 7501, 7609, 7627, 7818, 7934, 8109, 8220, 8253, 8273, 8408, 8428, 8821, 8907, 9121, 9129, 9170, 9347, 9351, 9462, 9709, 9815, 9819, 9923, 10103, 10439, 10446, 10610, 11052, 11083, 11350, 11365, 11644, 11658, 11748, 11773, 11782, 12112, 12336, 12707, 13135, 13423, 13642, 13645, 13681, 14037, 14093, 14544, 14687, 15037, 15107, 15276, ...], 'Cachamorra': [9594], 'Cacuia': [13464, 19072, 19258], 'Caju': [2405], 'Camorim': [558, 636, 679, 1033, 1170, 1946, 2001, 2002, 2138, 2222, 3146, 4248, 5620, 5941, 6071, 6419, 6709, 6807, 8334, 9016, 10178, 10206, 10644, 11849, 13027, 13190, 13278, 13789, 14081, 14085, 15201, 15213, 15425, 15830, 16611, 17777, 18505, 18764, 18886, 19457, 19699, 20313, 20742, 21388, 21414], 'Campinho': [1143, 6693, 7115, 7587, 7669, 8817, 9644, 13462, 13579, 14817, 14904, 18578, 20921, 21830, 22338], 'Campo Grande': [24, 139, 182, 259, 329, 385, 489, 510, 540, 551, 629, 673, 688, 735, 736, 793, 927, 1004, 1022, 1030, 1061, 1088, 1131, 1144, 1169, 1186, 1265, 1274, 1326, 1361, 1443, 1504, 1638, 1697, 1750, 1800, 1922, 1934, 1947, 1985, 2063, 2067, 2239, 2367, 2438, 2690, 2709, 2819, 2830, 2849, 2925, 2947, 2967, 3011, 3031, 3077, 3121, 3149, 3178, 3226, 3260, 3282, 3308, 3320, 3548, 3566, 3588, 3631, 3632, 3873, 3888, 3915, 3916, 3942, 3980, 3984, 4052, 4058, 4092, 4125, 4137, 4183, 4202, 4217, 4281, 4289, 4405, 4535, 4545, 4596, 4629, 4637, 4643, 4665, 4686, 4690, 4727, 4833, 4854, 5075, ...], 'Cascadura': [567, 895, 1659, 1967, 4561, 5967, 6444, 6783, 8772, 9549, 10526, 11115, 12084, 12144, 12304, 12562, 13044, 15268, 15950, 16425, 16431, 16472, 17153, 17491, 18012, 20080, 20084, 20549, 20588, 20766, 22287], 'Catete': [96, 100, 122, 198, 307, 346, 693, 1197, 1377, 1430, 1729, 1837, 1865, 1945, 2055, 2170, 2336, 2449, 2475, 3000, 3001, 3057, 3328, 3618, 3766, 3801, 3853, 3909, 4018, 4223, 4318, 4322, 4395, 4428, 4516, 4890, 4938, 5618, 5755, 5761, 5779, 5855, 5858, 5876, 6043, 6103, 6319, 6411, 6768, 7062, 7134, 7198, 7200, 7230, 7253, 7343, 7531, 7572, 8059, 8651, 8874, 9000, 9101, 9168, 9317, 9514, 9557, 9579, 9683, 9803, 10081, 10102, 10229, 10386, 10424, 10494, 10502, 10530, 10624, 10819, 11103, 11265, 11446, 11795, 11846, 11869, 11912, 12031, 12041, 12091, 12210, 12319, 12518, 12592, 12602, 12661, 12921, 12973, 13395, 13436, ...], 'Catumbi': [1369, 3231, 4615, 8610, 8993, 17100, 17545, 21517], 'Cavalcanti': [15652, 18600], 'Centro': [2, 40, 67, 73, 150, 185, 195, 319, 434, 596, 676, 840, 885, 957, 962, 972, 1035, 1134, 1138, 1159, 1347, 1413, 1515, 1529, 1647, 1667, 1728, 1734, 1770, 1774, 1886, 1933, 1943, 2050, 2130, 2143, 2201, 2213, 2237, 2285, 2288, 2307, 2377, 2497, 2518, 2663, 2672, 2713, 3041, 3150, 3157, 3166, 3324, 3363, 3416, 3417, 3430, 3570, 3619, 3666, 3783, 3867, 3962, 4007, 4027, 4035, 4127, 4129, 4144, 4280, 4432, 4480, 4554, 4573, 4612, 4837, 4908, 4961, 4982, 5002, 5040, 5058, 5059, 5143, 5158, 5177, 5205, 5230, 5240, 5285, 5289, 5301, 5420, 5448, 5474, 5520, 5588, 5773, 5841, 5877, ...], 'Cidade Jardim': [15789], 'Cidade Nova': [2287, 2320, 2789, 6438, 13375, 16526, 22097], 'Cocotá': [9211, 19031, 21216], 'Coelho Neto': [16837], 'Colégio': [1619, 2941, 15647, 18953], 'Copacabana': [0, 9, 10, 11, 26, 27, 30, 33, 88, 93, 106, 111, 127, 131, 142, 143, 146, 147, 155, 166, 178, 188, 196, 199, 211, 228, 255, 269, 282, 285, 288, 296, 297, 308, 314, 326, 334, 336, 355, 366, 372, 378, 379, 395, 403, 411, 432, 433, 444, 466, 468, 493, 494, 495, 505, 539, 541, 543, 566, 573, 584, 585, 594, 617, 621, 623, 626, 644, 661, 670, 677, 678, 689, 698, 700, 705, 712, 724, 742, 748, 751, 785, 822, 838, 850, 888, 897, 910, 914, 925, 930, 935, 937, 939, 940, 947, 970, 981, 982, 998, ...], 'Cordovil': [2334, 6577, 7948, 10711, 13526, 14527, 16432, 18538, 20479], 'Cosme Velho': [68, 1077, 1594, 1632, 2768, 4292, 4773, 5572, 6743, 7654, 8161, 9640, 9984, 10098, 11250, 11281, 11320, 13120, 14972, 15341, 15380, 15382, 15948, 16562, 17084, 17629, 17733, 18284, 18543, 19975, 21727], 'Cosmos': [8629, 14023, 15282, 15946, 16258, 16760, 17044, 17225, 17375, 17943, 21800, 21807], 'Curicica': [438, 630, 1085, 1207, 1233, 1521, 1730, 2119, 2249, 2293, 2640, 3424, 3687, 3848, 3960, 4055, 4198, 4876, 6430, 7413, 7895, 8247, 8460, 8537, 8926, 9269, 10067, 10252, 10380, 10569, 10855, 11057, 11189, 11469, 11518, 11839, 11840, 12178, 12252, 12391, 12824, 12868, 12961, 12972, 13014, 13262, 13308, 13804, 13963, 14099, 14329, 14651, 15204, 15654, 15769, 15875, 16358, 16377, 16507, 17001, 17049, 17053, 17272, 17647, 18037, 18293, 18439, 18574, 19095, 20181, 20767, 20862, 21194, 21221, 21298, 21316, 21626, 21853, 22032, 22283], 'Del Castilho': [2740, 2934, 3655, 3817, 3894, 4722, 6461, 7045, 8337, 8449, 8713, 9206, 9400, 11325, 11481, 11830, 14228, 14738, 16087, 16429, 18992, 19612, 20599], 'Encantado': [1108, 2045, 2498, 6403, 7720, 8291, 10489, 13543, 15711, 17559, 17699, 18230, 18604, 19770, 22229], 'Engenho Novo': [133, 236, 243, 293, 557, 1038, 1352, 1453, 1955, 2025, 2750, 2800, 2837, 2866, 2875, 3005, 3452, 3913, 4107, 4265, 4558, 5269, 5342, 5358, 5427, 6101, 6464, 6570, 6689, 6877, 7528, 7662, 7671, 7730, 7852, 8087, 8168, 8305, 8365, 8635, 8742, 8761, 8806, 9116, 9251, 9443, 9505, 9749, 9884, 9918, 9974, 10196, 10258, 10578, 10651, 10662, 10693, 11895, 12048, 12121, 12126, 12208, 12384, 12631, 12748, 12876, 13337, 13528, 13620, 13711, 14029, 14289, 14308, 14672, 14881, 14889, 15475, 15826, 15851, 15942, 16852, 16888, 16979, 17094, 17371, 17623, 17909, 17978, 18048, 18151, 18487, 18732, 18821, 18983, 19229, 20285, 20353, 20568, 20800, 20831, ...], 'Engenho da Rainha': [9523, 10268, 10625, 14996, 15757, 16932, 18476], 'Engenho de Dentro': [141, 762, 1174, 1570, 2083, 2104, 2252, 2270, 2538, 2614, 2861, 3024, 3058, 3237, 3903, 4037, 4196, 4211, 4404, 4434, 4712, 4871, 5094, 5304, 5640, 5723, 6069, 6097, 6231, 6575, 8210, 8320, 8396, 8793, 9237, 9379, 9608, 9876, 10396, 10714, 11504, 11652, 11866, 12194, 12532, 12977, 13266, 14512, 14732, 14974, 15893, 16115, 16781, 17030, 17041, 17231, 17287, 17319, 17872, 18545, 19266, 19270, 19339, 19488, 19820, 20053, 20260, 20319, 20829, 20836, 20980, 21044, 21526, 21681], 'Estácio': [2321, 2874, 3581, 4857, 5154, 5224, 5426, 5490, 5896, 7660, 8326, 13692, 14548, 14620, 15571, 16104, 16387, 17729, 18190, 18642, 19126, 20672, 21657], 'Flamengo': [80, 140, 223, 291, 328, 354, 363, 368, 376, 400, 428, 437, 449, 485, 553, 591, 631, 680, 738, 776, 809, 869, 902, 907, 918, 961, 985, 1064, 1121, 1151, 1160, 1234, 1259, 1266, 1386, 1425, 1428, 1540, 1546, 1558, 1569, 1579, 1588, 1636, 1639, 1716, 1733, 1798, 1801, 1875, 1885, 1914, 1983, 2016, 2049, 2054, 2079, 2265, 2275, 2313, 2323, 2361, 2385, 2414, 2426, 2478, 2513, 2585, 2586, 2595, 2599, 2624, 2652, 2684, 2695, 2764, 2772, 2777, 2838, 2842, 2932, 2946, 2990, 3007, 3025, 3045, 3108, 3162, 3179, 3205, 3207, 3217, 3256, 3343, 3369, 3404, 3480, 3487, 3499, 3508, ...], 'Freguesia (Ilha do Governador)': [5027, 7729, 12736, 17783, 18696], 'Freguesia (Jacarepaguá)': [14, 60, 85, 108, 125, 137, 160, 167, 192, 209, 227, 278, 312, 313, 353, 390, 463, 499, 542, 616, 699, 711, 795, 828, 877, 900, 987, 1125, 1129, 1384, 1477, 1533, 1560, 1564, 1602, 1732, 1806, 1822, 1866, 1879, 1931, 1963, 1980, 1993, 2100, 2101, 2221, 2257, 2282, 2311, 2317, 2322, 2368, 2392, 2398, 2424, 2559, 2591, 2611, 2620, 2622, 2664, 2687, 2716, 2766, 2770, 2790, 2968, 3009, 3034, 3046, 3079, 3096, 3137, 3159, 3191, 3262, 3383, 3418, 3751, 3779, 3812, 3892, 3898, 3910, 3928, 3941, 3987, 4011, 4021, 4056, 4082, 4160, 4201, 4232, 4273, 4369, 4415, 4425, 4430, ...], 'Fátima': [763, 4403, 6179, 16029, 19780, 20405], 'Gamboa': [3599, 4682, 13617, 19948], 'Gardênia Azul': [362, 2791, 5178, 6862, 9204, 11297, 13182, 13336, 18259, 21804], 'Glória': [103, 351, 410, 555, 691, 837, 978, 1023, 1712, 1874, 1918, 2056, 2140, 2157, 2204, 2396, 2447, 2467, 2802, 3820, 3839, 4243, 4650, 5470, 5482, 5587, 5889, 5893, 5935, 6066, 6311, 6941, 7242, 7270, 7279, 7672, 7750, 7789, 7817, 7824, 8156, 8575, 8618, 9175, 9192, 9517, 10063, 10226, 10304, 10307, 10487, 10499, 10675, 10754, 10963, 11046, 11423, 11523, 12630, 12698, 13371, 13639, 13654, 13777, 13790, 13899, 13927, 13971, 14146, 14338, 14545, 15719, 15813, 16050, 16278, 16792, 16982, 17111, 17266, 17269, 17341, 17353, 17620, 17829, 18038, 18231, 18325, 18357, 18401, 18623, 18830, 19078, 19453, 19867, 19903, 20332, 20346, 20377, 20584, 20715, ...], 'Grajaú': [7, 244, 324, 415, 417, 479, 580, 989, 1363, 1482, 1597, 1655, 2021, 2576, 2621, 2810, 2820, 2860, 2919, 3081, 3492, 3585, 3809, 4087, 4305, 4669, 4714, 4782, 4985, 5208, 5223, 5406, 5438, 5455, 5461, 5666, 5681, 6191, 6815, 7125, 7487, 7756, 8023, 8116, 8138, 8245, 8655, 8780, 8785, 9247, 9270, 9277, 9369, 9461, 10009, 10371, 10500, 10516, 10654, 10820, 10829, 10880, 11336, 11530, 11560, 11589, 11590, 11603, 11922, 12001, 12115, 12375, 12378, 12386, 12405, 12603, 12821, 12848, 12859, 12866, 12891, 12923, 13145, 13197, 14005, 14171, 14330, 14364, 14603, 14690, 14716, 14866, 14962, 15004, 15099, 15235, 15348, 15458, 15470, 15820, ...], 'Guadalupe': [5501, 7463, 10285, 10606, 11342, 12526], 'Guaratiba': [1264, 1346, 4001, 4466, 4519, 4559, 5748, 6029, 6243, 6735, 7849, 7869, 8038, 8338, 9020, 10419, 10577, 10720, 11069, 11861, 11894, 12519, 14144, 15737, 16559, 16583, 17521, 17744, 18525, 21253, 21262], 'Gávea': [65, 110, 220, 231, 249, 305, 469, 528, 545, 871, 1127, 1172, 1182, 1319, 1342, 1360, 1412, 1461, 1646, 1660, 1665, 2090, 2123, 2137, 2153, 2158, 2279, 2381, 2481, 2551, 2675, 2678, 2705, 2718, 2921, 3022, 3038, 3138, 3275, 3309, 3468, 3540, 3542, 3797, 4047, 4119, 4246, 4381, 4446, 4501, 4513, 4718, 4809, 4924, 5070, 5080, 5118, 5243, 5271, 5532, 5626, 5661, 5907, 5970, 6057, 6085, 6221, 6227, 6336, 6374, 6402, 6499, 6514, 6782, 6796, 6924, 6993, 7199, 7484, 7762, 8027, 8032, 8262, 8295, 8317, 8839, 8940, 8941, 8969, 9005, 9100, 9154, 9245, 9391, 9393, 9580, 9604, 9616, 9836, 9929, ...], 'Higienópolis': [3, 767, 980, 2145, 2230, 3435, 4461, 8136, 9268, 11526, 14531, 15538, 17339, 17400, 18921, 19810], 'Honório Gurgel': [9282, 9751, 13693, 16727, 19144, 19197, 21834], 'Humaitá': [38, 79, 215, 232, 272, 295, 380, 436, 568, 844, 846, 948, 975, 1395, 1419, 1592, 1726, 1753, 1839, 1920, 2003, 2161, 2234, 2338, 2683, 3095, 3118, 3182, 3243, 3432, 3733, 3831, 3982, 4048, 4267, 4346, 4463, 4604, 4868, 4939, 5091, 5162, 5250, 5515, 5670, 5937, 6185, 6199, 6416, 6501, 7330, 7399, 7793, 7911, 8070, 8121, 8160, 8266, 8367, 8371, 8589, 8596, 8676, 8895, 8927, 8932, 8957, 9169, 9302, 9378, 9509, 9570, 9734, 9763, 10157, 10353, 10365, 10461, 10592, 10817, 10860, 10989, 11340, 11425, 11591, 11629, 11722, 12169, 12385, 12431, 12826, 12983, 13294, 13625, 13691, 13738, 14074, 14181, 14353, 14459, ...], 'Icaraí': [3225, 3692, 5126, 11162, 13734, 14591, 16868, 19577, 21470], 'Ilha do Governador': [213, 3244, 4033, 4896, 5188, 5481, 5997, 7186, 7212, 7538, 9362, 11153, 11214, 13137, 13586, 13903, 14626, 15084, 15504, 17993, 18170, 18529, 18731, 18994, 21648, 22146], 'Inhaúma': [409, 3484, 3495, 5264, 8961, 9243, 13195], 'Inhoaíba': [773, 5493, 7784, 9743, 18963, 21891], 'Ipanema': [21, 41, 42, 47, 54, 55, 75, 86, 94, 116, 123, 130, 145, 163, 181, 183, 221, 222, 235, 248, 251, 276, 290, 333, 345, 348, 377, 384, 393, 399, 412, 451, 490, 497, 523, 531, 544, 576, 579, 586, 587, 588, 590, 600, 602, 625, 635, 639, 658, 659, 667, 682, 692, 701, 719, 721, 728, 734, 737, 741, 743, 758, 759, 765, 769, 792, 796, 806, 814, 824, 826, 830, 843, 873, 874, 893, 904, 915, 917, 923, 924, 941, 945, 956, 969, 971, 988, 1001, 1003, 1012, 1019, 1028, 1032, 1041, 1046, 1052, 1069, 1070, 1072, 1074, ...], 'Irajá': [301, 858, 1231, 1295, 1551, 2223, 2277, 2372, 2412, 2732, 3796, 4525, 4970, 5113, 6174, 6432, 6759, 6816, 6969, 7009, 7196, 7249, 7326, 7816, 7921, 7984, 8058, 9070, 9266, 9736, 9813, 10049, 10144, 10445, 11012, 11020, 11856, 11915, 12183, 12250, 12930, 13178, 13187, 13331, 13385, 13412, 13446, 13572, 13650, 14038, 14226, 14475, 14563, 14789, 15045, 15186, 15216, 16118, 16929, 17680, 17865, 18188, 18523, 18677, 18962, 18970, 19246, 19427, 19563, 19572, 20337, 20349, 20557, 21521, 21602, 21809, 21973, 22295, 22312], 'Itanhangá': [77, 482, 486, 592, 1271, 1344, 2077, 2425, 2533, 2651, 2888, 3344, 3567, 3950, 3964, 4067, 4436, 4476, 4894, 5655, 6078, 6090, 6348, 7332, 7605, 7674, 7980, 8887, 9281, 9321, 9828, 10040, 10141, 11238, 11263, 11298, 11650, 12686, 12760, 13943, 14249, 14473, 14798, 15129, 15548, 15651, 15845, 16280, 16433, 17312, 17776, 18060, 18553, 19660, 19821, 20134, 20825, 21181, 21493, 21745, 21963, 22232, 22241], 'Jabour': [831, 2162, 13011], 'Jacarepaguá': [53, 74, 203, 294, 339, 371, 513, 530, 569, 690, 720, 1066, 1244, 1500, 1600, 1649, 1678, 1846, 2033, 2198, 2281, 2318, 2383, 2517, 2566, 2612, 2633, 2681, 2686, 2737, 2862, 2886, 2931, 2937, 3398, 3462, 3490, 3541, 3661, 3724, 3793, 3795, 3870, 3896, 3955, 4029, 4099, 4147, 4187, 4210, 4299, 4360, 4368, 4406, 4564, 4681, 4748, 4815, 4919, 4976, 5098, 5201, 5207, 5222, 5329, 5371, 5387, 5408, 5547, 5575, 5625, 5638, 5747, 5873, 5888, 5963, 5994, 6023, 6186, 6209, 6310, 6668, 6715, 6943, 6979, 7104, 7222, 7275, 7314, 7319, 7344, 7385, 7473, 7533, 7579, 7651, 8051, 8411, 8438, 8444, ...], 'Jacaré': [9069, 15428, 21813], 'Jardim América': [2331, 2994, 3808, 6495, 13146, 18375, 19458], 'Jardim Botânico': [1, 57, 317, 330, 358, 452, 453, 500, 503, 582, 654, 686, 820, 955, 1000, 1210, 1236, 1402, 1516, 1834, 1926, 2097, 2105, 2147, 2298, 2578, 2581, 2754, 2774, 2794, 2879, 2883, 3297, 3457, 3562, 3575, 3673, 3829, 3859, 3877, 4062, 4161, 4164, 4224, 4340, 4581, 4697, 4820, 4827, 4909, 4989, 5014, 5039, 5151, 5212, 5244, 5297, 5327, 5362, 5392, 5434, 5478, 5521, 5538, 5558, 5741, 5809, 5850, 5960, 5988, 6040, 6437, 6489, 6563, 6650, 6679, 6812, 6906, 6910, 6912, 6916, 6944, 6961, 6985, 7084, 7097, 7148, 7181, 7235, 7293, 7543, 7548, 7656, 7717, 7862, 7931, 8079, 8120, 8257, 8379, ...], 'Jardim Carioca': [97, 148, 1048, 2437, 6695, 12300, 16281, 16415, 17750], 'Jardim Guanabara': [818, 1031, 1426, 1549, 1906, 2515, 2818, 2930, 3197, 4892, 5217, 5892, 6048, 6181, 6198, 7260, 7470, 7670, 8010, 9077, 9106, 9304, 9416, 10263, 10696, 10741, 10978, 11005, 11089, 11344, 11715, 12253, 12435, 12621, 13564, 13937, 14721, 14728, 14839, 15040, 15211, 15229, 15841, 15957, 16094, 17092, 17241, 17416, 17936, 18035, 18217, 18903, 19565, 19783, 20071, 20178, 20361, 21204, 21310, 21380, 21715, 21780, 22030, 22172], 'Jardim Oceânico': [31, 208, 905, 1154, 1351, 1836, 2092, 3945, 6239, 6286, 6330, 8075, 11028, 12081, 12400, 12411, 12962, 13657, 16293, 19277, 19380, 20139, 20197], 'Jardim Sulacap': [217, 3339, 4937, 5092, 5778, 7310, 11645, 13118, 16210], 'Joá': [620, 2152, 2563, 5286, 6218, 6921, 7883, 8876, 11903, 12145, 12369, 12394, 12396, 13254, 15196, 16818, 16985, 17331, 17579, 18683, 18744, 19888, 21208], 'Lagoa': [91, 107, 126, 151, 234, 311, 325, 327, 424, 425, 435, 465, 516, 613, 637, 662, 709, 754, 772, 775, 807, 896, 960, 999, 1011, 1043, 1075, 1102, 1149, 1173, 1260, 1268, 1283, 1366, 1381, 1429, 1476, 1617, 1621, 1629, 1637, 1692, 1714, 1780, 1799, 1812, 1887, 1892, 1978, 2026, 2030, 2111, 2120, 2159, 2212, 2217, 2312, 2415, 2491, 2505, 2608, 2697, 2785, 2841, 2855, 2858, 2959, 3101, 3165, 3253, 3288, 3360, 3460, 3501, 3584, 3587, 3719, 3887, 3930, 3937, 4016, 4089, 4118, 4153, 4158, 4173, 4240, 4255, 4270, 4327, 4366, 4390, 4424, 4506, 4521, 4531, 4546, 4616, 4710, 4780, ...], 'Lapa': [1322, 1845, 2360, 2390, 3036, 3279, 3423, 3821, 4383, 4957, 5500, 5969, 6555, 8674, 9156, 9425, 9581, 9939, 10051, 10125, 11101, 14261, 17109, 17378, 18648, 19141, 19347, 20151, 20817], 'Laranjeiras': [72, 158, 173, 179, 257, 279, 289, 388, 421, 475, 560, 652, 653, 656, 666, 702, 717, 731, 760, 894, 1034, 1060, 1087, 1137, 1220, 1238, 1280, 1317, 1349, 1370, 1421, 1474, 1485, 1503, 1640, 1677, 1880, 1911, 1917, 1995, 2006, 2094, 2182, 2244, 2268, 2286, 2314, 2319, 2577, 2634, 2673, 2679, 2760, 2771, 2877, 2995, 3015, 3078, 3083, 3107, 3116, 3168, 3354, 3444, 3472, 3545, 3600, 3604, 3620, 3628, 3669, 3688, 3718, 3763, 3767, 3786, 3819, 3827, 3920, 3976, 4124, 4236, 4309, 4342, 4350, 4376, 4438, 4470, 4701, 4743, 4877, 4902, 4

In [5]:
# Nós temos um dicionário, com o bairro (chave) e os dados (valor).
# Os valores são dataframes. Exemplo, pegando a média de aluguel dentro dos bairros:

for bairro, dados in agrupados:
    print(f"{bairro}: {round(dados['Valor'].mean(), 2)}")

Abolição: 1195.33
Alto da Boa Vista: 3966.67
Anchieta: 875.0
Andaraí: 1464.71
Anil: 2048.87
Arpoador: 11189.13
Bancários: 1825.0
Bangu: 1016.0
Barra da Tijuca: 6970.68
Barra de Guaratiba: 5550.0
Benfica: 996.0
Bento Ribeiro: 1030.87
Bonsucesso: 1225.93
Botafogo: 8522.79
Braz de Pina: 1115.0
Cachambi: 1157.17
Cachamorra: 3000.0
Cacuia: 916.67
Caju: 850.0
Camorim: 1752.22
Campinho: 1037.33
Campo Grande: 1267.72
Cascadura: 948.71
Catete: 2267.89
Catumbi: 1112.5
Cavalcanti: 595.0
Centro: 1277.29
Cidade Jardim: 12000.0
Cidade Nova: 1471.43
Cocotá: 1883.33
Coelho Neto: 700.0
Colégio: 885.0
Copacabana: 4095.45
Cordovil: 905.56
Cosme Velho: 5343.55
Cosmos: 658.33
Curicica: 1508.84
Del Castilho: 1261.3
Encantado: 1050.0
Engenho Novo: 1160.48
Engenho da Rainha: 883.57
Engenho de Dentro: 1166.35
Estácio: 1233.91
Flamengo: 4103.39
Freguesia (Ilha do Governador): 1720.0
Freguesia (Jacarepaguá): 4957.99
Fátima: 956.67
Gamboa: 1212.5
Gardênia Azul: 735.0
Glória: 2467.29
Grajaú: 2038.62
Guadalupe: 700.0
Guaratiba: 1232.26
Gávea: 6563.69
Higienópolis: 1006.25
Honório Gurgel: 628.57
Humaitá: 3742.82
Icaraí: 2361.11
Ilha do Governador: 1690.38
Inhaúma: 821.43
Inhoaíba: 725.0
Ipanema: 9170.72
Irajá: 1096.01
Itanhangá: 9341.27
Jabour: 723.33
Jacarepaguá: 2068.6
Jacaré: 1200.0
Jardim América: 714.29
Jardim Botânico: 8661.02
Jardim Carioca: 2211.11
Jardim Guanabara: 2124.69
Jardim Oceânico: 7626.09
Jardim Sulacap: 1176.67
Joá: 16773.48
Lagoa: 7921.04
Lapa: 1556.79
Laranjeiras: 3551.27
Largo do Machado: 1880.0
Leblon: 8581.58
Leme: 3947.4
Lins de Vasconcelos: 1086.17
Madureira: 1017.66
Magalhães Bastos: 640.0
Maracanã: 1945.5
Marechal Hermes: 844.44
Maria da Graça: 1073.33
Moneró: 1900.0
Méier: 1355.87
Olaria: 1016.56
Oswaldo Cruz: 823.89
Paciência: 580.0
Padre Miguel: 786.25
Paquetá: 10550.0
Parada de Lucas: 1062.5
Parque Anchieta: 1287.5
Pavuna: 648.95
Pechincha: 1357.43
Pedra de Guaratiba: 1082.11
Penha: 1023.33
Penha Circular: 1160.0
Península: 7061.54
Piedade: 956.54
Pilares: 1077.5
Pitangueiras: 2725.0
Portuguesa: 1272.73
Praia da Bandeira: 1300.0
Praça Seca: 998.41
Praça da Bandeira: 1358.72
Quintino Bocaiúva: 924.67
Ramos: 958.0
Realengo: 908.33
Recreio dos Bandeirantes: 3726.11
Riachuelo: 1143.9
Ribeira: 1420.0
Rio Comprido: 1652.61
Rio da Prata: 1300.0
Rocha: 1086.84
Rocha Miranda: 877.0
Sampaio: 937.5
Santa Cruz: 734.29
Santa Teresa: 2703.65
Santo Cristo: 1225.0
Santíssimo: 756.25
Saúde: 950.0
Senador Camará: 600.0
Senador Vasconcelos: 867.35
São Conrado: 8787.21
São Cristóvão: 1391.72
São Francisco Xavier: 1237.24
Tanque: 1335.71
Taquara: 1642.14
Tauá: 1340.0
Tijuca: 2064.37
Todos os Santos: 1243.08
Tomás Coelho: 737.0
Turiaçu: 700.0
Urca: 7770.6
Usina: 1520.0
Vargem Grande: 3275.65
Vargem Pequena: 2703.48
Vaz Lobo: 845.0
Vicente de Carvalho: 1075.71
Vidigal: 2600.0
Vigário Geral: 970.0
Vila Isabel: 1560.83
Vila Kosmos: 1311.82
Vila Militar: 500.0
Vila Valqueire: 1769.58
Vila da Penha: 1260.58
Vista Alegre: 1114.38
Zumbi: 2150.0
Água Santa: 861.11

In [6]:
# Usando uma sintaxe mais concisa:

agrupados["Valor"].mean().round(2)

Bairro
Abolição             1195.33
Alto da Boa Vista    3966.67
Anchieta              875.00
Andaraí              1464.71
Anil                 2048.87
                      ...
Vila Valqueire       1769.58
Vila da Penha        1260.58
Vista Alegre         1114.38
Zumbi                2150.00
Água Santa            861.11
Name: Valor, Length: 152, dtype: float64

In [7]:
# Desta vez, uma série é retornada. Se especificar mais de uma coluna, um DF é retornado

agrupados[["Valor", "Condominio"]].mean().round(2)

                     Valor  Condominio
Bairro
Abolição           1195.33      191.40
Alto da Boa Vista  3966.67      885.00
Anchieta            875.00       19.75
Andaraí            1464.71      497.71
Anil               2048.87      455.85
...                    ...         ...
Vila Valqueire     1769.58      276.88
Vila da Penha      1260.58      232.68
Vista Alegre       1114.38      210.06
Zumbi              2150.00     1050.00
Água Santa          861.11      269.44

[152 rows x 2 columns]

## Exercícios

In [8]:
alunos = pd.DataFrame({'Nome': ['Ary', 'Cátia', 'Denis', 'Beto', 'Bruna', 'Dara', 'Carlos', 'Alice'], 
                        'Sexo': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F'], 
                        'Idade': [15, 27, 56, 32, 42, 21, 19, 35], 
                        'Notas': [7.5, 2.5, 5.0, 10, 8.2, 7, 6, 5.6], 
                        'Aprovado': [True, False, False, True, True, True, False, False]}, 
                        columns = ['Nome', 'Idade', 'Sexo', 'Notas', 'Aprovado'])
alunos

     Nome  Idade Sexo  Notas  Aprovado
0     Ary     15    M    7.5      True
1   Cátia     27    F    2.5     False
2   Denis     56    M    5.0     False
3    Beto     32    M   10.0      True
4   Bruna     42    F    8.2      True
5    Dara     21    F    7.0      True
6  Carlos     19    M    6.0     False
7   Alice     35    F    5.6     False

In [9]:
sexo = alunos.groupby("Sexo")["Notas"].mean().round(2)
sexo.columns = ["Notas médias"]
sexo

Sexo
F    5.82
M    7.12
Name: Notas, dtype: float64

# Estatísticas Descritivas

In [10]:
grupo_bairro = agrupados

In [11]:
grupo_bairro["Valor"].describe().round(2)

,count,mean,std,min,25%,50%,75%,max
Bairro,,,,,,,,
Abolição,15.0,1195.33,425.32,800.0,900.0,1180.0,1200.0,2300.0
Alto da Boa Vista,6.0,3966.67,5513.59,600.0,1150.0,1725.0,3275.0,15000.0
Anchieta,4.0,875.00,132.29,700.0,812.5,900.0,962.5,1000.0
Andaraí,97.0,1464.71,408.11,700.0,1200.0,1400.0,1650.0,2950.0
Anil,71.0,2048.87,1523.97,300.0,1100.0,1500.0,2675.0,7000.0
...,...,...,...,...,...,...,...,...
Vila Valqueire,48.0,1769.58,2203.01,800.0,1000.0,1250.0,1700.0,16000.0
Vila da Penha,104.0,1260.58,644.66,450.0,900.0,1100.0,1302.5,4500.0
Vista Alegre,16.0,1114.38,199.60,700.0,1012.5,1200.0,1225.0,1400.0
Zumbi,2.0,2150.00,777.82,1600.0,1875.0,2150.0,2425.0,2700.0
Água Santa,9.0,861.11,174.60,600.0,800.0,850.0,950.0,1200.0

In [12]:
# Menos, por favor

grupo_bairro["Valor"].aggregate(["min", "max"]).rename(columns={"min": "Preço mínimo", "max": "Preço máximo"})

                   Preço mínimo  Preço máximo
Bairro
Abolição                  800.0        2300.0
Alto da Boa Vista         600.0       15000.0
Anchieta                  700.0        1000.0
Andaraí                   700.0        2950.0
Anil                      300.0        7000.0
...                         ...           ...
Vila Valqueire            800.0       16000.0
Vila da Penha             450.0        4500.0
Vista Alegre              700.0        1400.0
Zumbi                    1600.0        2700.0
Água Santa                600.0        1200.0

[152 rows x 2 columns]

In [13]:
%matplotlib inline
import matplotlib.pyplot as plt

plt.rc("figure", figsize=(20,10))

ModuleNotFoundError: No module named 'matplotlib'

In [ ]:
fig = grupo_bairro["Valor"].mean().plot.bar()
fig.set_ylabel("Valor do aluguel")